* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

.page-wrapper {
    padding: 20px 40px 40px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

@media (hover: hover) and (pointer: fine) {

header > a > img:hover {
    opacity: 0.5;
}

}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 40px;
}

.nav-list > li > a {
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.nav-list > li > a:hover {
    border-bottom: 2px solid #403F3D;
}

}

.burger {
    display: none;
}

.menu-button {
    background: var(--background-body, #E1D4C9);
    border: 0px solid #E1D4C9;
    font-weight: 600;
    height: 25px;
    transition: 1s;
}

.button-link {
    color: var(--text-dark, #403F3D);
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: 1s;
    height: 25px;
}

@media (hover: hover) and (pointer: fine) {

.menu-button:hover {
    border-bottom: 2px solid #403F3D;
}

}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    background: url(assets/img-hero.png),lightgray 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 644px;
    max-width: 1360px;
    padding: 100px;
    margin-bottom: 100px;
}

.text-accent {
    color: var(--text-accent, #B0907A);
    font-style: italic;
}

.hero-description {
    display: flex;
    width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    height: 444px;
}

.hero-description > a {
    text-decoration: none;
}

.premium {
    margin-top: 0px;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 72px;
    line-height: 105%;
    margin-bottom: 0px;
}

.inviting {
    margin-top: 0px;
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 0px;
}

.hero-button {
    border: 0px solid #E1D4C9;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    display: flex;
    width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #403F3D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    font-family: Inter;
}

.hero-button img {
    display: none;
    transition: 1s;
}

.hero-button:hover {
    cursor: pointer;
}

.hero-button:hover img {
    display: inline;
}

.favorite-section {
    margin-bottom: 100px;
}

.header2 {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 60px;
    line-height: 125%;
}

.choose {
    margin-bottom: 40px;
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
    width: 480px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0px;
    transition: 1s;
}

.slide-img {
    width: 480px;
    height: 480px;
    margin-bottom: 22px;
}

.name-price {
    margin-top: 0px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 16px;
}

.name-price:last-child {
    margin-bottom: 40px;
}

.medium-text {
    margin-top: 0px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.whole-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-button {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: #E1D4C9;
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.arrow-button:hover {
    background: var(--background-container, #665F55);
    cursor: pointer;
}


.arrow-button:hover img {
    content:url(assets/arrow-right-hover.svg);
}

.arrow-button:first-child:hover img {
    transform: scale(-1);
}

}

.pagination-wrapper {
    display: flex;
    gap: 12px;
    width: 144px;
    margin: 0 auto;
}

.pagination {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

.active-pagi {
    background: var(--border-dark, #665F55);
    width: 0%;
    height: 4px;
    animation: pagi-anima;
    animation-duration: 5s;
}

@keyframes pagi-anima {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.about-wrapper {
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
}

.resource {
    margin-top: 0px;
    height: auto;
    text-align: left;
    margin-bottom: 40px;
}

.img-pair {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.img-pair > img {
    border-radius: 20px;
}

.app-section {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.app-text {
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 342px;
    gap: 40px;
}

.download {
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;
}

.app-buttons {
    display: flex;
    gap: 20px;
}

.store-button {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: #E1D4C9;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 10px;
    line-height: 140%;
    text-align: left;
    font-weight: 600;
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.store-button:hover {
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
    cursor: pointer;
}

.store-button:hover .platform {
    color: var(--text-light, #E1D4C9);
}

.store-button:first-child:hover img {
    content:url("assets/appstore-hover.svg");
}

.store-button:last-child:hover img {
    content:url("assets/googleplay-hover.svg");
}

}

.platform {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: 1s;
}

footer {
    display: flex;
    max-width: 1360px;
    max-height: 450px;
    padding: 100px;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
}

.socials {
    width: 530px;
}

.sip {
    margin-top: -2px;
    text-align: left;
    margin-bottom: 40px;
    color: var(--text-light, #E1D4C9);
}

.header3 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    line-height: 125%;
    margin-top: 0px;
    margin-bottom: 40px;
}

.contacts {
    margin-top: 20px;
}

.contacts-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px;
    width: fit-content;
    transition: 1s;
    height: 28px;
}

@media (hover: hover) and (pointer: fine) {

.contacts-text:hover {
    border-bottom: 2px solid #E1D4C9;
    cursor: pointer;
}

}

.contacts-text > span {
    margin-left: 8px;
}

.social-link-container {
    display: flex;
    gap: 12px;
}

.socials-link {
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.socials-link:hover {
    background: var(--background-body, #E1D4C9);
}

.socials-link:hover img {
    filter: invert(50%) sepia(6%) saturate(297%) hue-rotate(1deg) brightness(95%) contrast(84%);
}

}

a {
    text-decoration: none;
}

@media screen and (max-width: 1439px) {
    .page-wrapper {
        width: 100%;
    }

    .img-pair img {
        width: 100%;
        height: auto;
    }

    .app-section {
        gap: 6%;
    }

    .app-text {
        height: 100%;
    }

    .app-section > img {
        width: 46%;
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    .app-section {
        flex-direction: column;
    }

    footer {
        max-height: 736px;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 60px;
    }

    .contacts {
        margin-top: 2px;
    }
}


@media screen and (max-width: 768px) {
    header > a {
        z-index: 1;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        gap: 5px;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        z-index: 1;
    }

    .bun {
        width: 16px;
        height: 1px;
        background-color: var(--text-dark, #403F3D);
        transition: .5s;
    }

    .burger-active .bun:first-child {
        transform: rotate(+45deg) translate(1px, 2px);
    }

    .burger-active .bun:last-child {
        transform: rotate(-45deg) translate(2px, -3px);
    }

    .menu-button {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--background-body, #E1D4C9);
        z-index: 0;
        gap: 93px;
        font-size: 32px;
        transition: 1s;
    }

    .menu-active {
        left: 0;
    }

    .burger-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 75px;
        padding-left: 0;
        width: 100%;
        margin-top: 165px;
    }

    .burger-nav-list a {
        text-decoration: none;
        color: var(--text-dark, #403F3D);
        transition: 1s;
    }

    .burger-menu-button {
        background: var(--background-body, #E1D4C9);
        border: 0px solid #E1D4C9;
        font-weight: 600;
        height: 40px;
        transition: 1s;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-link {
        gap: 16px;
    }

    .hero-section {
        padding: 100px 60px;
    }

    .about-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .img-pair img {
        height: 590px;
    }

    .img-pair:first-child img:last-child {
        display: none;
    }

    .img-pair:last-child img:first-child {
        display: none;
    }

    .app-section {
        flex-direction: column;
        gap: 100px
    }

    .download {
        width: 688px;
    }

    .app-section > img {
        display: block;
        height: 630px;
        width: 630px;
        margin-left: 30px;
    }

    .app-text {
        padding-top: 0px;
    }

    footer {
        max-height: 736px;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 60px;
    }

    .contacts {
        margin-top: 2px;
    }
}

@media screen and (max-width: 745px) {
    .hero-description {
        width: 100%;
        height: auto;
    }

    .premium {
        font-size: 3em;
    }


    .slider-wrapper {
        width: 69%;
    }
    
    .slide {
        width: 100%;
    }

    .slide-img {
        width: 69%;
        height: auto;
    }

    .app-section {
        width: 100%;
    }

    .app-text {
        width: 100%;
    }

    .download {
        width: 100%;
    }

    .app-section > img {
        width: 100%;
        height: auto;
    }

    .socials {
        width: 100%;
    }

    .sip {
        font-size: 3em;
    }
}

@media screen and (max-width: 526px) {
    .page-wrapper {
        padding: 20px 16px 40px 16px;
    }

    .hero-section {
        padding: 60px 16px;
    }

    .header2 {
        font-size: 32px;
    }

    .premium {
        font-size: 42px;
    }

    .inviting {
        font-size: 16px;
    }

    .whole-slider {
        justify-content: center;
    }

    .arrow-button {
        display: none;
    }

    .about-wrapper {
        align-items: center;
    }

    .img-pair {
        width: 348px;
        height: 590px;
        background-position: center;
        border-radius: 20px;
    }

    .img-pair:first-child {
        background-image: url(assets/about-1.png);
    }

    .img-pair:last-child {
        background-image: url(assets/about-4.png);
    }

    .img-pair img {
        display: none;
    }

    .app-section {
        gap: 40px;
    }

    .download {
        width: 348px;
    }

    .app-text {
        width: 348px;
        height: 380px;
    }

    .app-buttons {
        flex-direction: column;
    }

    .app-section > img {
        width: 348px;
        height: 348px;
        margin-left: 0px;
    }

    .sip {
        font-size: 2em;
    }
}

@media screen and (max-width: 380px) {
    .page-wrapper {
        padding: 20px 16px 40px 16px;
    }

    .hero-section {
        padding: 60px 16px;
        width: 348px;
        height: 552px;
    }

    .hero-description {
        width: 100%;
    }

    .premium {
        font-size: 42px;
        width: 316px;
        line-height: 115%;
    }

    .inviting {
        width: 316px;
    }

    .header2 {
        font-size: 32px;
    }

    .arrow-button {
        display: none;
    }

    .whole-slider {
        justify-content: space-between;
    }

    .slider-wrapper {
        width: 348px;
    }

    .slide-img {
        height: 348px;
        width: 348px;
    }

    .img-pair {
        width: 348px;
        height: 590px;
        background-position: center;
        border-radius: 20px;
    }

    .img-pair:first-child {
        background-image: url(assets/about-1.png);
    }

    .img-pair:last-child {
        background-image: url(assets/about-4.png);
    }

    .img-pair img {
        display: none;
    }

    .app-section {
        gap: 40px;
    }

    .download {
        width: 348px;
    }

    .app-text {
        width: 348px;
        height: 380px;
    }

    .app-buttons {
        flex-direction: column;
    }

    .app-section > img {
        width: 348px;
        height: 348px;
        margin-left: 0px;
    }

    footer {
        height: 526px;
        padding: 60px 16px;
        gap: 40px;
    }

    .socials {
        width: 100%;
    }

    .contacts-text {
        margin-top: -3px;
        margin-bottom: 19px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .hero-button img {
        display: inline;
    }


}

