* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

.page-wrapper {
    padding: 20px 40px 40px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

@media (hover: hover) and (pointer: fine) {

header > a > img:hover {
    opacity: 0.5;
}

}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 31px;
}

.nav-list > li > a {
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.nav-list > li > a:hover {
    border-bottom: 2px solid #403F3D;
}

}

.burger {
    display: none;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--background-body, #E1D4C9);
    border: 0px solid #E1D4C9;
    font-weight: 600;
    color: var(--text-dark, #403F3D);
    transition: 1s;
    border-bottom: 2px solid #403F3D;
    height: 25px;
    font-size: 16px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 40px;
}

.text-accent {
    color: var(--text-accent, #B0907A);
    font-style: italic;
}

.header2 {
    margin-top: 0px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 60px;
    line-height: 125%;
    max-width: 800px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button {
    display: flex;
    height: 46px;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: 1s;
}

.button:first-child {
    width: 115px;
}

.button:nth-child(2) {
    width: 90px;
}

.button:nth-child(3) {
    width: 124px;
}

@media (hover: hover) and (pointer: fine) {

.button:hover {
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
    cursor: pointer;
}

}

.active {
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
}

.modal-active {
    background: var(--background-container, #665F55) !important;
    color: var(--text-light, #E1D4C9);
}

.button-emoji {
    padding: 3px 7px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

.menu-wrapper {
    display: grid;
    grid-template: 506px  / 310px 310px 310px 310px;
    grid-auto-rows: 506px;
    gap: 40px;
}

.menu-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 310px;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.menu-item:hover {
    cursor: pointer;
}

.menu-item:hover > img {
    filter: invert(10%);
}

}

.menu-item > img {
    width: 310px;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    margin-bottom: 20px;
}

.name-price {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 20px;
}

.name-price:last-child {
    position: absolute;
    bottom: 8px;
}

.medium-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
    text-align: left;
    width: 270px;
    margin-left: 20px;
}

.refresh-button {
    display: none;
}

footer {
    display: flex;
    max-width: 1360px;
    max-height: 450px;
    padding: 100px;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
}

.socials {
    width: 530px;
}

.sip {
    margin-top: -2px;
    text-align: left;
    margin-bottom: 40px;
    color: var(--text-light, #E1D4C9);
}

.header3 {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    line-height: 125%;
    margin-top: 0px;
    margin-bottom: 40px;
}

.contacts {
    margin-top: 20px;
}

.contacts-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px;
    width: fit-content;
    transition: 1s;
    height: 28px;
}

@media (hover: hover) and (pointer: fine) {

.contacts-text:hover {
    border-bottom: 2px solid #E1D4C9;
    cursor: pointer;
}

}

.contacts-text > span {
    margin-left: 8px;
}

.social-link-container {
    display: flex;
    gap: 12px;
}

.socials-link {
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

@media (hover: hover) and (pointer: fine) {

.socials-link:hover {
    background: var(--background-body, #E1D4C9);
}

.socials-link:hover img {
    filter: invert(50%) sepia(6%) saturate(297%) hue-rotate(1deg) brightness(95%) contrast(84%);
}

}

a {
    text-decoration: none;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #403F3D;
    opacity: 70%;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 504px;
    display: none;
    gap: 20px;
    border-radius: 40px;
    background: var(--background-body, #E1D4C9);
    padding: 16px;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    z-index: 3;
}

.modal-img {
    border-radius: 40px;
    width: 310px;
}

.modal-text {
    width: 438px;
}

.modal p {
    margin-top: 0;
}

.modal span {
    display: flex;
    padding: 3px 9px 3px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    height: 30px;
    width: 30px;
    color: var(--text-dark, #403F3D);
}

.modal button {
    display: flex;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    background: none;
}

.modal-description {
    width: 438px;
    text-wrap: wrap;
    height: auto;
    margin-bottom: 20px;
}

.sizes, .additives, .total-price, .info-container {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.sizes, .additives {
    flex-wrap: wrap;
}

.sizes button, .additives button {
    padding: 8px 16px 8px 8px;
}

.bold {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.info-container {
    border-top: 1px solid var(--border-light, #C1B6AD);
    padding: 12px 0px;
    align-items: flex-start;
}

.info {
    font-size: 10px;
    line-height: 140%;
}

.close-button {
    padding: 10px 78px;
    width: 438px;
}

.modal-name {
    margin-bottom: 12px;
}

.size-p, .additives-p {
    margin-bottom: 8px;
}

.total-price {
    justify-content: space-between;
}

@media screen and (max-width: 1426px) {
    .menu-wrapper {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .menu-item {
        min-height: 506px;
    }

    footer {
        max-height: 736px;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 60px;
    }

    .contacts {
        margin-top: 2px;
    }
}


@media screen and (max-width: 768px) {
    header > a {
        z-index: 2;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        gap: 5px;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        z-index: 2;
    }

    .bun {
        width: 16px;
        height: 1px;
        background-color: var(--text-dark, #403F3D);
    }

    .burger-active .bun:first-child {
        transform: rotate(+45deg) translate(1px, 2px);
    }

    .burger-active .bun:last-child {
        transform: rotate(-45deg) translate(2px, -3px);
    }

    .menu-button {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--background-body, #E1D4C9);
        z-index: 1;
        gap: 100px;
        font-size: 32px;
        transition: 1s;
    }

    .menu-active {
        left: 0;
    }

    .burger-nav-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 60px;
        padding-left: 0;
        width: 100%;
    }

    .burger-nav-list a {
        text-decoration: none;
        color: var(--text-dark, #403F3D);
        transition: 1s;
    }

    .burger-menu-button {
        background: var(--background-body, #E1D4C9);
        border: 0px solid #E1D4C9;
        font-weight: 600;
        height: 40px;
        transition: 1s;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-link {
        color: var(--text-dark, #403F3D);
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        transition: 1s;
        height: 25px;
        gap: 16px;
    }

    .menu-wrapper {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .menu-item {
        min-height: 506px;
    }

    .hide-tablet {
        display: none;
    }

    .refresh-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        background-color: #E1D4C9;
        transition: 1s;
    }

    footer {
        max-height: 736px;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 60px;
    }

    .contacts {
        margin-top: 2px;
    }

    .modal {
        width: 688px;
        height: auto;
    }

    .modal-text {
        width: 326px;
    }

    .modal-description {
        width: 100%;
    }

    .sizes {
        width: 326px;
    }

    .additives {
        width: 326px;
    }

    .close-button {
        width: 100%;
    }
}

@media screen and (max-width: 683px) {
    .header2 {
        font-size: 32px;
    }

    .page-wrapper {
        padding: 20px 16px 40px 16px;
    }

    .menu-wrapper {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }

    footer {
        height: 526px;
        padding: 60px 16px;
        gap: 40px;
    }

    .socials {
        width: 100%;
    }

    .contacts-text {
        margin-top: -3px;
        margin-bottom: 19px;
    }
}

@media screen and (max-width: 380px) {
    .page-wrapper {
        padding: 20px 16px 40px 16px;
    }

    .buttons {
        gap: 8px;
    }

    .header2 {
        font-size: 32px;
    }

    .menu-wrapper {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }

    footer {
        height: 526px;
        padding: 60px 16px;
        gap: 40px;
    }

    .socials {
        width: 100%;
    }

    .contacts-text {
        margin-top: -3px;
        margin-bottom: 19px;
    }

    .modal {
        width: 342px;
        gap: 0px;
    }

    .modal-text {
        width: 342px;
    }

    .modal-description {
        width: 100%;
    }

    .modal-img {
        display: none;
    }
}