body {
    background-color: #E1D4C9;
    margin: 0;
}

.page-wrapper {
    padding: 20px 40px 40px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-emoji {
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
}

footer {
    display: flex;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
}