.game {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

button {
    aspect-ratio: 1;
}

.active {
    background-color: black;
}

[data-clue="horizontal"] {
    border-bottom: 5px solid black;
}

[data-clue="vertical"] {
    border-right: 5px solid black;
}

