body {
  background-color: cornflowerblue;
}

.header {
  display: flex;
  justify-content: right;
}

.log-in-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: solid 2px burlywood;
  gap: 5px;
  padding: 10px;
  font-size: larger;
  background-color: antiquewhite;
  border-radius: 7%;
}

.log-in-button {
  background-color: white;
  border-radius: 5px;
  border-color: burlywood;
}

.log-in-button_active:hover {
  cursor: pointer;
  border-radius: 7px;
  background-color: beige;
  transition: 1s;
}

.log-in-input {
  background-color: white;
  border-radius: 5px;
  border-color: burlywood;
}

.log-in-form-error {
  color: red;
  font-size: small;
}

.start-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: larger;
}

.app-name {
  font-size: xx-large;
}

.start-button {
  background-color: wheat;
  border-radius: 10px;
  font-size: x-large;
}

.start-button:hover {
  cursor: pointer;
  background-color: burlywood;
}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 70%;
}

.sentence-block {
  display: flex;
  gap: 5px;
  height: 5rem;
  width: auto;
  border: 1px solid purple;
  align-items: center;
}

.word-block {
  background-color: white;
  height: max-content;
  width: max-content;
  padding: 2%;
  border: 1px solid purple;
}

.word-block:hover {
  cursor: pointer;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.continue {
  background-color: wheat;
}

.translation {
  align-self: center;
  font-style: italic;
  margin-bottom: -10px;
}
